.error-div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
    /* font-family: "Anta", sans-serif !important; */
    font-family: "Bebas Neue", sans-serif !important;
  }
  